* {
	font-family: sans-serif;
}

a, a:visited {
	text-decoration: none;
	color: #058CDB;
}

a:hover {
	color: navy;
}

header {
	background-color: #058CDB;
	color: white;
}

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 12px;
	background-color: white;
	box-shadow: 0px 1px 1px silver;
	z-index: 1;
}

nav img, nav ul {
	vertical-align: middle;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline;
	font-size: 14px;
	margin: 0 12px 0 12px;
}

nav ul li a, nav ul li a:visited {
	color: silver;
}

nav ul li a:hover {
	color: black;
}

#features, #get_started, #apps {
	background-color: white;
	color: black;
}

#why_cobalt, #faq, #contact {
	background-color: #058CDB;
	color: white;
}

footer p {
	text-align: center;
	background-color: white;
}
